body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.hidden {
	display: none;
}

.slidedown {
	animation-name: slidedown;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 2s;
}

@keyframes slidedown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0px);
	}
}
