body {
	min-width: 320px;
	height: 100%;
	margin: 0;
	padding: 0;
}

.app {
	/* text-align: center; */
}

.ant-layout {
	background-color: white;
}

/* .app .ant-layout {
	display: flex;
	flex-direction: column;
	min-height: 100%;
} */

footer {
	bottom: 0;
	height: 100px;
	left: 0;
	position: absolute;
	width: 100%;
}

/* main {
	flex: 1;
} */

.bordered {
	border: 1px solid black;
}

.cursor-pointer {
	cursor: pointer;
}

.absolute {
	position: absolute;
}

.color-black {
	color: black;
}

.hover-only {
	visibility: collapse;
}

.expander:hover .hover-only,
.expander:active .hover-only {
	visibility: visible !important;
}

.spinner-full {
	background: rgba(255, 255, 255, 0.5);
}
