.sidebar .ant-drawer-content-wrapper {
	min-width: 400px;
}

.sidebar .background-blue-light {
	background-color: aliceblue;
}

.sidebar .ant-form-item-with-help {
	margin-bottom: 0;
}

.sidebar .w-90 {
	width: 90%;
}

.sidebar .w-10 {
	width: 10%;
}
